<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="pizza-outline"></ion-icon>
      <ion-label>MAINLY EAT</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="wine-outline"></ion-icon>
      <ion-label>ALWAYS DRINK</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="beer-outline"></ion-icon>
      <ion-label>WHAT ELSE</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
