<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-button>click me</ion-button> -->

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="hideCard()">Hide Card</ion-button>
  <ion-button (click)="showCard()">Show Card</ion-button>
  <ion-button (click)="toggleCard()">{{toggleButtonContent}}</ion-button>
  

  <ion-card id="toggleCard" *ngIf="cardIsVisible">my card</ion-card>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
